<div class="relative overflow-x-auto shadow-md w-full p-4 sm:p-4 md:p-6 bg-light-bg border border-light-border rounded-lg dark:bg-dark-bg dark:border-dark-border mt-2">
    <app-custom-table
        tableHead="Usuarios-Sistemas | Tabla"
        keyRow="Id"
        [headers]="['#','Usuario', 'Sistema' ]"
        [keys]="['Id','Usuario', 'Sistema']"
        [data]="usuarioSistemaList"
        [hasSearch]="true"
        [hasStatus]="true"
        keyStatus="Estatus"
        [hasEdit]="true"
        [hasDelete]="true"
        (editEmit)="editUsuarioSistema($event)"
        (deleteEmit)="deleteUsuarioSistema($event)"
    >
    </app-custom-table>
</div>
