<div class="min-w-screen min-h-screen bg-secondary flex items-center justify-center px-5 py-5">
  <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
      <div class="flex w-full justify-center">
          <div class="mb-[50px]">
            <img [src]="images.notfound" class="img-fluid rounded"/>
            <p class="text-2xl font-bold">404 - Página No Encontrada.</p>
            <p class="text-lg italic">You didn't break the internet, but we can't find what you are looking for.</p>
            <a href="/home" class="font-bold mt-2 underline">Regresar al Inicio</a>
          </div>
      </div>
  </div>
</div>