<div [ngStyle]="{'padding':'10px'}" class="grid grid-cols-2 md:grid-cols-4 gap-3 md:gap-2">
  <div *ngFor="let status of data; let i = index" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow sm:p-2 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-center">
      <h5 class="text-xl font-bold text-gray-900 dark:text-white">  
        {{ status.Estatus_Nombre }}
        <!-- <app-icon-custom typeIcon="estatusTitle" [value]="status.id"></app-icon-custom> -->
      </h5>
    </div>
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700 ">
      <li class="py-3 sm:py-4">
        <div
          cdkDropList
          [cdkDropListConnectedTo]="getConnectedDropListIds(i)"
          [cdkDropListData]="status.Tickets"
          (cdkDropListDropped)="drop($event, status.Estatus_Id)"
          [id]="'cdk-drop-list-' + i"
          [ngClass]="(status.Estatus_Id == 1)?'estatusCreadoColumn':(status.Estatus_Id == 2)?'estatusAsignadoColumn':(status.Estatus_Id == 3)?'estatusEnTratamientoColumn':'estatusFinalizadoColumn'"
          class="h-auto min-h-24 rounded-lg p-3 border-dashed border-2 border-gray-300 dark:border-gray-400">
          <div *ngFor="let item of status.Tickets" class="mb-2 h-auto relative" cdkDrag [cdkDragData]="item" [cdkDragDisabled]="ValidarTicket(item)">
            <a (click)="openModal(item)" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-light-bg hover:bg-gray-50 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <span>
                <app-icon-custom typeIcon="typeTicket" [value]="item.Tipo_Ticket_Id"></app-icon-custom>
              </span>
              <span class="text-xs flex-1 ms-3">{{ item.Ticket_Titulo}} </span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="isModalOpen" class="fixed inset-0 flex items-start justify-center z-50 mt-10 min-w-md">
  <div class="fixed inset-0 bg-gray-800 bg-opacity-75"></div>
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg w-5/12 p-6 z-10" role="dialog" aria-modal="true">
    <div class="flex justify-between items-center">
      <h3 class="text-lg font-bold text-gray-900 dark:text-gray-100">
        Detalle de Ticket # {{ticket.Ticket_Id}}
        <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded border" [ngClass]="(ticket.Tipo_Ticket_Id == 1)?'bugStyle':'changeStyle'">
          <app-icon-custom typeIcon="typeTicket" [value]="ticket.Tipo_Ticket_Id"></app-icon-custom>
          {{ ticket.Tipo_Ticket_Nombre }}
        </span>
        <span 
          class="text-xs font-medium me-2 px-2.5 py-0.5 rounded border"
          [ngClass]="(ticket.Estatus_Id == 1)?'estatusCreado':(ticket.Estatus_Id == 2)?'estatusAsignado':(ticket.Estatus_Id == 3)?'estatusEnTratamiento':'estatusFinalizado'"
        >
          <app-icon-custom typeIcon="estatus" [value]="ticket.Estatus_Id"></app-icon-custom>
          {{ ticket.Estatus_Nombre }}
        </span>
        <span *ngIf="ticket.Estatus_Id != 1" class="text-xs font-medium me-2 px-2.5 py-0.5 rounded border estatusCreado">
          <app-icon-custom typeIcon="user"></app-icon-custom>
          {{ ticket.Usuario_Asignado }}
        </span>
      </h3>
      <button class="text-gray-400 hover:text-gray-600 dark:hover:text-gray-300" (click)="closeModal()">
        <app-icon-custom typeIcon="close" sizeIcon="xl"></app-icon-custom>
      </button>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-4">
      <div>
        <h5 class="text-md font-medium text-gray-900 dark:text-white">Sistema:</h5>
        <p class="text-sm text-gray-500 dark:text-gray-400 "> {{ticket.Sistema_Nombre}} </p>
      </div>
      <div>
        <h5 class="text-md font-medium text-gray-900 dark:text-white">Modulo:</h5>
        <p class="text-sm text-gray-500 dark:text-gray-400 "> {{ticket.Modulo_Nombre}} </p>
      </div>
      <div>
        <h5 class="text-md font-medium text-gray-900 dark:text-white">Descripción Ticket:</h5>
        <p class="text-sm text-gray-500 dark:text-gray-400 break-all"> {{ticket.Ticket_Descripcion}} </p>
      </div>
      <div>
        <h5 class="text-md font-medium text-gray-900 dark:text-white">Fecha:</h5>
        <p class="text-sm text-gray-500 dark:text-gray-400 "> {{ticket.Ticket_Fecha}} </p>
      </div>
      <div>
        <h5 class="text-md font-medium text-gray-900 dark:text-white">Usuario Registra:</h5>
        <p class="text-sm text-gray-500 dark:text-gray-400 "> {{ticket.Usuario_Registra}} </p>
      </div>
      <div>
        <h5 class="text-md font-medium text-gray-900 dark:text-white">Adjuntos:</h5>
        <a *ngFor="let adjunto of ticket.Archivos" [href]="environment + ticket.Ticket_Id + '/' + adjunto.FileName" target="_blank"> 
          <app-icon-custom typeIcon="file" [value]="adjunto.Format" sizeIcon="xl"></app-icon-custom>
        </a>
      </div>
    </div>
    <form class="space-y-6" [formGroup]="form" novalidate (ngSubmit)="finalizarTicket(ticket)">
      <h5 class="text-md font-medium text-gray-900 dark:text-white">Comentarios Dev:</h5>
      <p class="text-sm text-gray-500 dark:text-gray-400" *ngIf="ticket.Estatus_Id == 4"> {{ticket.Ticket_Comentarios}} </p>
      <textarea *ngIf="ticket.Estatus_Id == 3" formControlName="comentarios" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"></textarea>
      <div class="flex justify-center text-sm italic text-sm text-red-600 dark:text-red-500" *ngIf="form.get('comentarios')?.touched && form.get('comentarios')?.invalid">
        <p class="text-sm italic text-danger" *ngIf="form.get('comentarios')?.errors?.['required']">Comentarios requeridos*</p>
      </div>
      <div class="mt-3 flex justify-end">
        <button class="px-3 py-2 bg-red-500 text-white rounded hover:bg-red-600 me-1" type="button" (click)="closeModal()">
          Cerrar
        </button>
        <button *ngIf="ticket.Estatus_Id == 3" class="px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" type="submit">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
