<div class="w-full p-4 bg-light-bg border border-light-border rounded-lg shadow sm:p-6 md:p-8 dark:bg-dark-bg dark:border-dark-border">
    <form class="space-y-6" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <h5 class="text-xl font-medium text-light-text dark:text-dark-text">Crear Ticket</h5>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-5 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                <label for="text" class="block mb-2 text-sm font-medium text-light-text dark:text-dark-text">*Tipo Ticket</label>
                <select formControlName="tipo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    <option [value]="0" disabled>Tipos</option>
                    <option *ngFor="let tipo of tiposList" [value]="tipo.Tipo_Id">{{tipo.Tipo_Nombre}}</option>
                </select>
                <div class="flex justify-center text-sm italic text-sm text-red-600 dark:text-red-500" *ngIf="form.get('tipo')?.touched && form.get('tipo')?.invalid">
                    <p class="text-sm italic text-danger" *ngIf="form.get('tipo')?.errors?.['min']">Seleccione un tipo*</p>
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="text" class="block mb-2 text-sm font-medium text-light-text dark:text-dark-text">*Sistema</label>
                <select formControlName="sistema" (change)="filterModulos($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    <option [value]="0" disabled>Sistemas</option>
                    <option *ngFor="let sistema of sistemasList" [value]="sistema.Sistema_Id">{{sistema.Sistema_Nombre}}</option>
                </select>
                <div class="flex justify-center text-sm italic text-sm text-red-600 dark:text-red-500" *ngIf="form.get('sistema')?.touched && form.get('sistema')?.invalid">
                    <p class="text-sm italic text-danger" *ngIf="form.get('sistema')?.errors?.['min']">Seleccione un sistema*</p>
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="text" class="block mb-2 text-sm font-medium text-light-text dark:text-dark-text">*Módulo</label>
                <select formControlName="modulo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    <option [value]="0" disabled>Módulos</option>
                    <option *ngFor="let modulo of modulosBySistema" [value]="modulo.Modulo_Id">
                        {{modulo.Modulo_Nombre}} 
                    </option>
                </select>
                <div class="flex justify-center text-sm italic text-sm text-red-600 dark:text-red-500" *ngIf="form.get('modulo')?.touched && form.get('modulo')?.invalid">
                    <p class="text-sm italic text-danger" *ngIf="form.get('modulo')?.errors?.['min']">Seleccione un módulo*</p>
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="text" class="block mb-2 text-sm font-medium text-light-text dark:text-dark-text">*Descripción</label>
                <input formControlName="descripcion" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Descripción"/>
                <div class="flex justify-center text-sm italic text-sm text-red-600 dark:text-red-500" *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.invalid">
                    <p class="text-sm italic text-danger" *ngIf="form.get('descripcion')?.errors?.['required']">Descripción requerida*</p>
                    <p class="text-sm italic text-danger" *ngIf="form.get('descripcion')?.errors?.['maxLength']">Máximo de caracteres 255*</p>
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="text" class="block mb-2 text-sm font-medium text-light-text dark:text-dark-text">Agregar archivo</label>
                <input type="file" class="block w-full file-input"/>

            </div>
        </div> 
        <div class="border-t border-light-border dark:border-dark-border">
            <div class="flex justify-end mt-4">
                <button type="submit" class="btn">Guardar</button>
            </div>
        </div>
    </form>
</div>
<div class="relative overflow-x-auto shadow-md w-full p-4 sm:p-4 md:p-6 bg-light-bg border border-light-border rounded-lg dark:bg-dark-bg dark:border-dark-border mt-2">
    <app-custom-table
        tableHead="Tickets | Tabla"
        keyRow="Ticket_Id"
        [headers]="['#Ticket', 'Descripción', 'Fecha', 'Módulo', 'Sistema', 'Estatus', 'Usuario Asigando', 'Usuario Registra' ]"
        [keys]="['Ticket_Id','Ticket_Descripcion', 'Ticket_Fecha', 'Modulo_Nombre', 'Sistema_Nombre', 'Estatus_Nombre', 'Usuario_Asignado', 'Usuario_Registra']"
        [data]="ticketsList"
        [hasSearch]="true"
        [hasStatus]="false"
        [hasEdit]="true"
        [hasDelete]="true"
        (editEmit)="editTicket($event)"
        (deleteEmit)="deleteTicket($event)"
    >
    </app-custom-table>
</div>
